html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrapper {
	margin: 0 auto;
	width: 100%;
}

.header {
	background-image: url("../img/header.jpg");
	width: 100%;
	height: auto;
	background-size: cover;
	color: #fff;
}

.navbar {
	width: 90%;
	display: block;
	margin: 0 auto;
}

.logo {
background-image: url("../img/logo.png");
width: 36px;
height: 36px;
text-align: left;
position: absolute;
}

#menu {
	font: 24px Calibri, sans-serif;
	
	display: inline;
	text-align: right;
}
#menu li {
display: inline;
margin-left: 3%;
}

#menu li:hover {
	text-decoration: underline;
	cursor: pointer;
}
.wrapper-heading {
display: block;
margin: 20% auto  0;
padding-bottom: 24%;
}

#main-heading {
	font: 5vw Calibri, sans-serif;
	display: inline;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
    
}
#under-heading, .under-heading {
	font: 28px Calibri, sans-serif;	
	display: inline;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 3px;
	line-height: 1;
}

#first-section, #second-section, #third-section {
	width: 85%;
	margin: 5% auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5%;
}

.second-heading {
	text-align: center;
	font: 32px Calibri, sans-serif;
	text-transform: uppercase;
}
.second-block {
	width: 33%;
	display: inline-block;
	text-align: center;
	margin-top: 3%;
}
.third-heading {
	font: 32px Calibri, sans-serif;
	font-style: italic;
}
.second-block-text {
	text-align: right;
}
.third-block-text {
	text-align: left;
}

#skills-list {
	font: 24px Calibri, sans-serif;
	font-weight: 600;
	
}

#contact-form {
	width: 50%;
	margin: 5% auto;
}

.submit {
	background: #333;
	width: 150px;
	height: 30px;
	color: #fff;
	font: 16px Calibri, sans-serif;
	font-weight: 600;
	text-align: center;
	float: right;
	border: none;
	cursor: pointer;
}

.label {
	font-weight: 600;
	font: 18px Calibri, sans-serif;
}
.inputfield {
	font: 18px Calibri, sans-serif;
	border: none;
	margin-bottom: 10px;
}

.footer {
	background: #333;
}
.footer-inner {
	width: 85%;
	margin: 0 auto;
	padding: 5% 0;
}
.footer-contacts {
	color: #fff;
	font: 18px Calibri, sans-serif;
}

